@import '../../../styles/ballot/_variables.scss';

.login {
    &__back{
        position: absolute;
        left: 100%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 16px;
        width: 40%;
        font-weight: 400;
    }
    &__logo {
        display: block;
        width: 92px;
        height: 45px;
        background-color: transparent;
        background-image: url($image_path + 'logo.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin: 20px auto;
    }
    &__welcome {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 50%;
        height: 100%;
        color: #37474F;
        background-color: #F1F4Fa;

        h1 {
            padding: 0 85px;
            color: #37474F;
            font-size: 48px;
            font-weight: 100;
            text-align: center;
        }
        h3 {
            margin: 0px 0 20px;
            color: #37474F;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
        p {
            width: 47%;
            margin: 0 auto 50px;
            color: #A6B4BF;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }
    &__form {
        width: 480px;
        padding: 0 50px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .field{
            margin: 15px 0 20px; 
        }
    }
    &__submit{
        text-align: center;
        margin-top: 20px;
        a{
            display: block;
            color: #116FFF;
            margin-top: 15px;
            &:hover{
                color: #4E94FF;
            }
            &:target{
                color: #434BDF;
            }
        }
    }
    .Select {
        margin: 15px 0 20px;
        font-size: 14px;
        &-input {
            background-color: transparent;
            height: 50px;
        }
        &-control,
        &.is-open .Select-control {
            box-shadow: none;
            background-color: transparent;
            color: #fff;
            //border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        &.is-open .Select-input {
            background-color: transparent;
        }
        &-control {
            //border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: transparent;
            height: auto;
            & > *:last-child {
                padding-right: 0px;
            }
        }
        &.is-focused:not(.is-open) > .Select-control {
            box-shadow: none;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: transparent;
        } 
        &.is-focused:not(.is-open) .Select-input {
            background-color: transparent;
            color: #fff;
        } 
        &.is-focused .Select-placeholder{
            border:1px solid #434BDF;
        }
        .Select-placeholder, 
        &.Select--single > .Select-control .Select-value {
            line-height: 1.7;
            color: #A6B4BF;
            display: block;
            padding: 14px 25px 14px 25px;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: auto;
            border-radius: 3px;
            background-color: #fff;
        }
        &.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
        &.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            padding: 0px 0px;
            color: #A6B4BF;;
            font-size: 14px;
            line-height: 1.7;
        }
        &-menu-outer {
            border: 1px solid gainsboro;
            box-shadow: none;
            width: calc(100% - 1px);
            border-radius: 0 0 2px 2px;
        }
        &-option {
            padding: 10px 12px;
            margin: 0;
            font-size: 14px;
            background: #fafafa;
            &.is-selected,
            &.is-focused {
                background: #f4f4f4
            }
        }
        &-arrow {
            border-color: rgba(230, 223, 223, 0.6) transparent transparent;
            &:hover {
                border-top-color: #222;
                border-color: #222 transparent transparent;
            }
            &-zone {
                padding-right: 1px;
                padding-top: 4px;
                border-left: 0;
                width: 40px;
                &:hover {
                    & > .Select-arrow {
                        border-top-color: rgba(230, 223, 223, 0.6);
                        border-color: rgba(230, 223, 223, 0.6) transparent transparent;
                    }
                }
            }
        }
        .Select-arrow-zone:hover > .Select-arrow {
            border-top-color: rgba(230, 223, 223, 0.6);
        }

        &.is-open {
            & > .Select-control .Select-arrow {
                border-color: transparent transparent rgba(230, 223, 223, 0.6);
                &:hover {
                    border-color: transparent transparent rgba(230, 223, 223, 0.6)  ;
                }
                &-zone {
                    width: 40px;
                    &:hover {
                        .Select-arrow {
                            border-color: transparent transparent rgba(230, 223, 223, 0.6);
                        }
                    }
                }
            }
        }
        &--chevroned {
            .Select {
                &-arrow {
                    border: 0;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-bottom: 2px solid #222222;
                        border-right: 2px solid #222222;
                        transform: rotate(45deg);
                        right: -5px;
                        top: 50%;
                        margin-top: -7px;
                    }
                    &-zone {
                        border-left: 0;
                    }
                }       
                
            }
            &.is-open {
                .Select {
                    &-arrow {
                        &:before {
                            transform: rotate(225deg);
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }
    &__projects{
        padding: 0;
        list-style: none;
        button{
            padding: 25px auto;
            font-size: 16px;
            margin-bottom:20px;
        }
    }
    &__select {
        label{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: .3px;
        }
        h4{
            text-align: center;
        }
    }

    &__description{
        position: absolute;
        width: 50%;
        padding: 70px 50px;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        .content{
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            height: auto;
            text-align: center;
            &__description{
                p{
                    font-weight: 300;
                    color: #37474F;
                   
                }
            }
            img{
                margin-bottom: 15px
            }

        }
    }
    .hidden{
        display: none;
    }
}
.deploy{
    &__desc{
        width: 85% !important;
    }
    &__select{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100% !important;
        button{
            width: 160px;
            margin: 0 auto;
        }
        div{
            width: 160px;
            p{
                width: 100%;
                color: #37474F;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
       
    }
}
.seed{
    &__form{
        width: 480px;
        padding: 0 50px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &[name="seed"]{
            padding: 65px 10px 70px;
        }
        label.small{
            position: relative;
            display: inline-block;
            width: 33%;
            margin-right: 0%;
            color: #116FFF;
            font-weight: 600;
            span{
                position: absolute;
                right: 20px;
            }
            .field{
                display: inline-block;
                margin-bottom: 14px;
                width: 90%;
                float: right;
                input{
                    display: inline;
                    width: 25%;
                    outline: none;
                    background-color: white;
                    color: #A6B4BF;
                    min-width: 120px;
                    transition: border-color .3s;
                    font-size: 14px;
                    border: none;
                    border-radius: 3px;
                    padding: 15.5px 10px;
                    font-weight: 400;
                }
            }
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        h3{
            padding: 0 20px;
        }
        p{
            width: 70%;
        }
    }

    &__loader{
        padding: 60px 85px 60px;
        .cssload-aim{
            position: relative;
            width: 78px;
            height: 78px;
            left: 35%;
            left: calc(50% - 42px);
            border-radius: 49px;
            background-color: #F1F4F5;
            border-width: 39px;
            border-style: double;
            border-color:transparent #37474F;
            box-sizing:border-box;
            transform-origin:	50% 50%;
            animation: cssload-aim 2.3s linear infinite;
        }
        @keyframes cssload-aim{
                0%{transform:rotate(0deg);}
                100%{transform:rotate(360deg);}
        }
    }
    &__key{
        h3{
            padding: 0;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 0 50px;
            font-size: 14px;
        }
    }
    &__seed{
        width: 56% !important;
        padding: 15px 10px;
        font-size: 14px;
        border: 2px solid #116FFF;
        background: #fff;
        color: #116FFF !important;
        font-weight: 600 !important;
    }
    
}
.note{
    font-weight: 600;
    color: #116FFF;
}
.warning {
    font-weight: 600;
    color: #f66a1b;
}
.recoverSeed{
    padding: 65px 10px 70px;
}