@import '../../../styles/ballot/_variables.scss';

.login {
    &__back{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 16px;
        width: 20%;
        font-weight: 400;
        z-index: 999;
    }
    &__logo {
        display: block;
        width: 92px;
        height: 45px;
        background-color: transparent;
        background-image: url($image_path + 'logo.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin: 20px auto;
    }
    &__welcome {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 50%;
        height: 100%;
        color: #37474F;
        background-color: #F1F4Fa;
        h1 {
            padding: 0 85px;
            color: #37474F;
            font-size: 48px;
            font-weight: 100;
            text-align: center;
        }
        h3 {
            margin: 0px 0 20px;
            color: #37474F;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
        p {
            width: 47%;
            margin: 0 auto 50px;
            color: #A6B4BF;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }
    &__form {
        width: 480px;
        padding: 0 50px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .field{
            margin: 15px 0 20px; 
        }
    }
    &__submit{
        display: flex;
        flex-flow: column;
        text-align: center;
        margin-top: 20px;
        a{
            display: inline-block;
            color: #116FFF;
            margin-top: 15px;
            &:hover{
                color: #4E94FF;
            }
            &:target{
                color: #434BDF;
            }
        }
    }
    .Select {
        margin: 15px 0 20px;
        font-size: 14px;
        &.field__input--error {
            padding: 0;
            border-radius: 3px;
        }
        &-input {
            background-color: transparent;
            height: 50px;
        }
        &-control,
        &.is-open .Select-control {
            box-shadow: none;
            background-color: transparent;
            color: #fff;
            //border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        &.is-open .Select-input {
            background-color: transparent;
        }
        &-control {
            //border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: transparent;
            height: auto;
            & > *:last-child {
                padding-right: 0px;
            }
        }
        &.is-focused:not(.is-open) > .Select-control {
            box-shadow: none;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: transparent;
        } 
        &.is-focused:not(.is-open) .Select-input {
            background-color: transparent;
            color: #fff;
        } 
        &.is-focused .Select-placeholder{
            border:1px solid #434BDF;
        }
        .Select-placeholder, 
        &.Select--single > .Select-control .Select-value {
            line-height: 1.7;
            color: #A6B4BF;
            display: block;
            padding: 14px 25px 14px 25px;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: auto;
            border-radius: 3px;
            background-color: #fff;
        }
        &.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
        &.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            padding: 0px 0px;
            color: #A6B4BF;;
            font-size: 14px;
            line-height: 1.7;
        }
        &-menu-outer {
            border: 1px solid gainsboro;
            box-shadow: none;
            width: calc(100% - 1px);
            border-radius: 0 0 2px 2px;
        }
        &-option {
            padding: 10px 12px;
            margin: 0;
            font-size: 14px;
            background: #fafafa;
            &.is-selected,
            &.is-focused {
                background: #f4f4f4
            }
        }
        &-arrow {
            border-color: rgba(230, 223, 223, 0.6) transparent transparent;
            &:hover {
                border-top-color: #222;
                border-color: #222 transparent transparent;
            }
            &-zone {
                padding-right: 1px;
                padding-top: 4px;
                border-left: 0;
                width: 40px;
                &:hover {
                    & > .Select-arrow {
                        border-top-color: rgba(230, 223, 223, 0.6);
                        border-color: rgba(230, 223, 223, 0.6) transparent transparent;
                    }
                }
            }
        }
        .Select-arrow-zone:hover > .Select-arrow {
            border-top-color: rgba(230, 223, 223, 0.6);
        }

        &.is-open {
            & > .Select-control .Select-arrow {
                border-color: transparent transparent rgba(230, 223, 223, 0.6);
                &:hover {
                    border-color: transparent transparent rgba(230, 223, 223, 0.6)  ;
                }
                &-zone {
                    width: 40px;
                    &:hover {
                        .Select-arrow {
                            border-color: transparent transparent rgba(230, 223, 223, 0.6);
                        }
                    }
                }
            }
        }
        &--chevroned {
            .Select {
                &-arrow {
                    border: 0;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-bottom: 2px solid #222222;
                        border-right: 2px solid #222222;
                        transform: rotate(45deg);
                        right: -5px;
                        top: 50%;
                        margin-top: -7px;
                    }
                    &-zone {
                        border-left: 0;
                    }
                }       
                
            }
            &.is-open {
                .Select {
                    &-arrow {
                        &:before {
                            transform: rotate(225deg);
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }
    &__projects{
        padding: 0;
        list-style: none;
        a {
            text-decoration: none;
        }
        button{
            padding: 25px auto;
            font-size: 16px;
            margin-bottom:20px;
        }
    }
    &__select {
        label{
            font-size: 16px;
            font-weight: 300;
            letter-spacing: .3px;
        }
        h4{
            text-align: center;
        }
        a{
            color: #116fff;
            //border-bottom: 1px solid #116fff;
            cursor: pointer;
        }
    }

    &__description{
        position: absolute;
        width: 50%;
        padding: 70px 50px;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        .content{
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            height: auto;
            text-align: center;
            &__description{
                p{
                    font-weight: 300;
                    color: #37474F;
                   
                }
            }
            img{
                margin-bottom: 15px
            }

        }
    }
    .hidden{
        display: none;
    }
    &__progress{
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 30px;
        border: 2px solid #116FFF;
        opacity: .4;
        &::after{
            content: "";
            position: absolute;
            width: 16px;
            border: 2px solid #116FFF;
            right: -24px;
            top: 50%;
            transform: translateY(-50%);
            opacity: .4;
        }
        &.active{
            opacity: 1;
            &::before{
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                left: 50%;
                top: 50%;
                background: #116FFF;
                transform: translate(-50%, -50%);
            }
            &::after{
                content: "";
                position: absolute;
                width: 16px;
                border: 2px solid #116FFF;
                right: -24px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
            }
        }
        &:nth-child(3){
            margin-right: 0;
            &::after{
                display: none;
            }
        }
    }
}
.deploy{
    &__desc{
        width: 85% !important;
    }
    &__select{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100% !important;
        button{
            width: 160px;
            margin: 0 auto;
        }
        div{
            width: 160px;
            p{
                width: 100%;
                color: #37474F;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
       
    }
}
.seed{
    &__form{
        width: 480px;
        padding: 0 50px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &[name="seed"]{
            padding: 65px 10px 70px;
        }
        label.small{
            position: relative;
            display: inline-block;
            width: 33%;
            margin-right: 0%;
            color: #A6B4BF;
            font-weight: 600;
            span{
                position: absolute;
                right: 25px;
                top: 5px;
                font-size: 12px;
                &.focused{
                    color: #116FFF;
                }
            }
            .field{
                display: inline-block;
                margin-bottom: 14px;
                width: 90%;
                float: right;
                input{
                    display: inline;
                    width: 25%;
                    outline: none;
                    background-color: white;
                    color: #A6B4BF;
                    min-width: 120px;
                    transition: border-color .3s;
                    font-size: 14px;
                    border: none;
                    border-radius: 3px;
                    padding: 15.5px 10px;
                    font-weight: 400;
                    border: 1px solid #E5EBED;
                    &.focused{
                        border: 1px solid #116fff;
                    }
                }
            }
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        h3{
            padding: 0 20px;
        }
        p{
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            &.subtext{
                font-weight: 300;
                color: #A6B4BF;
                font-size: 15px;
                margin-top: 15px;
            }
        }
    }

    &__loader{
        position: absolute;
        left: 25%;
        width: 50%;
        height: 100%;
        padding: 80px 85px 60px;
        text-align: center;
        background: #F1F4Fa;
        h3{
            font-size: 1.4em;
            margin-bottom: 50px;
            margin-top: 40px;
        }
        .btn{
            width: 50%;
            margin: 0 auto;
        }
    }
    &__key{
        h3{
            padding: 0;
        }
       
    }
    &__wallet{
        padding: 0 0 10px;
        font-size: 14px;
        & > p{
            display: block;
            width: 100%;
            margin-top: 0;
            font-weight: bold;
        }
    }
    &__seed{
        width: 56% !important;
        padding: 15px 10px;
        font-size: 14px;
        border: 2px solid #116FFF;
        background: #fff;
        color: #116FFF !important;
        font-weight: 600 !important;
        margin: 0 auto 20px !important; 
    }
    &__token{
        width: 50%;
        display: inline-block !important;
        text-align: center;
        &> strong{
            display: inline-block;
            margin-top: 10px;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
.content__password{
    font-size: 14px;
    width: 150%;
    line-height: 30px;
    thead{
        color: black;
        font-weight: 400;
    }
    tbody{
        color: #37474F;
        font-weight: 300;
        td{
            strong{
                margin-right: 7px;
            }
            img{
                margin: 0 7px 0 0 !important;
                vertical-align: middle;
            }
            .note{
                display: inline-block;
            }
        }
    }
}
.note{
    font-weight: 600;
    color: #116FFF;
}
.warning {
    font-weight: 600;
    color: #f66a1b;
}
.recoverSeed{
    padding: 65px 10px 70px;
}


$loader-size: 100px;
$loader-dot-size: ($loader-size / 5);
$loader-height: ($loader-dot-size * 2);
$loader-dot-color: #447ACC;

// HTML
#loader-walk {
  width: $loader-size;
  height: $loader-height;
  position: relative;
  margin: 40px auto 0;
  > div {
    content: "";
    width: $loader-dot-size;
    height: $loader-dot-size;
    background: $loader-dot-color;
    border-radius: 100%;
    position: absolute;
    animation: animate 2s linear infinite;
    &:nth-of-type(1) { animation-delay: -.4s; }
    &:nth-of-type(2) { animation-delay: -.8s; }
    &:nth-of-type(3) { animation-delay: -1.2s; }
    &:nth-of-type(4) { animation-delay: -1.6s; }
  }
}
@keyframes animate {
  0% { 
    left: $loader-size; 
    top:0
  }
  80% { 
    left: 0; 
    top:0;
  }
  85% { 
    left: 0; 
    top: -$loader-dot-size; 
    width: $loader-dot-size; 
    height: $loader-dot-size;
  }
  90% { 
    width: ($loader-dot-size * 2); 
    height: ($loader-dot-size - 5px); 
  }
  95% { 
    left: $loader-size; 
    top: -$loader-dot-size; 
    width: $loader-dot-size; 
    height: $loader-dot-size;
  }
  100% { 
    left: $loader-size; top:0; 
  }
}
.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}
.progress-block{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    transition: .3s linear;
    .progress-line{
        position: absolute;
        left: 100%;
        top: 50%;
        width:0;
        opacity: 0;
        border: 3px solid #447ACC;
        transform: translateY(-50%);
        transition: .3s ease-in;
    }
    svg {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%) scale(1);
      }
    .stroke-still {
        stroke: rgba($color: #447ACC, $alpha: .5);
    }
    
    & > img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: .5;
    }
    &>p{
        margin: 100px 0 0 -30%;
        width: 160%;
        color: #37474F;
        opacity: .5;
        &+strong {
            display: inline-block;
            width: 165%;
            margin: 5px 0 0 -35%;
        }
    }
    &.success{
        .stroke-still {
            stroke: rgba($color: #447ACC, $alpha: 1);
        }
        & > img {
            opacity: 1;
        }
        .progress-line{
            width: 78px;
            opacity: 1;
        }

    }
    &.active{
        & > img {
            opacity: 1;
        }
        .stroke-still {
            stroke: transparent;
        }
        .stroke-animation {
            animation: stroke-spacing 4s ease-in, stroke-color 5.2s linear;
            animation-iteration-count: infinite;
            animation-delay: 0;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
            transform-origin: center center;
        }
    }
}
.fullwidth {
    width: 100%;
    left: 50%;
}

  
  @keyframes stroke-spacing {
    0% {
      stroke-dasharray: 0 200;
    }
    45% {
      stroke-dashoffset: 0;
      stroke-dasharray: 200 200;
    }
    90% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
    100% {
      stroke-dashoffset: -200;
      stroke-dasharray: 200 200;
    }
  }
  

  @keyframes stroke-color {
    0%  { stroke: #447ACC; }
    24% { stroke: #447ACC; }
    25% { stroke: #447ACC; }
    49% { stroke: #447ACC; }
    50% { stroke: #447ACC; }
    74% { stroke: #447ACC; }
    75% { stroke: #447ACC; }
    99% { stroke: #447ACC; }
  }
  