@import "../../../styles/ballot/variables";

.select {
  position: relative;
  z-index: 1;
  &__input {
    display: none;
  }
  &__select {
   
  }
  &__wrapper {
    position: relative;
    &::after{
      content: url($image_path +'select-arrow_grey.svg');
      position: absolute;
      right: 5px;
      top: 20px;
      transform: translateY(-50%);
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 10px;
    background: #fff;
    border: 1px solid #D9DFE3;
    border-radius: 2px;

    cursor: pointer;
    p {
      position: relative;
      margin: 0;
      padding-right: 20px;
      color: #5B778D;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      strong {
        margin-right: 5px
      }
    }
  }
  &__opened {
    &::after{
      transform: translateY(-50%)rotate(180deg);
    }
  }
  &__options {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #D9DFE3;
    max-height: 300px;
    overflow-y: auto;
  }
  &__option {
    padding: 10px 10px;
    box-sizing: border-box;
    color: #5B778D;
    border-bottom: none;
    cursor: pointer;
    strong {
      margin-right: 5px;
    }
    &:hover {
      background-color: #F6F6F6;
    }
  }
}