@font-face {
  font-weight: 300;
  font-family: "Grotesk";
  src: url("../fonts/AktivGroteskCorp-Light.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Grotesk";
  src: url("../fonts/AktivGroteskCorp-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Grotesk";
  src: url("../fonts/AktivGroteskCorp-Bold.ttf");
}
