/* PATH */
$image_path: "../../../img/";
$image_path_relative: "../../img/";

/* BASE */
$font_family: 'Roboto', sans-serif;

/* IMAGES */
$icon_arrow_right: $image_path + "ico_arrow_right.png";
$icon_arrow_left: $image_path + "ico_arrow_left.png";
$icon_random_choice: $image_path + "ico_random_white.png";