{
    "extends": "airbnb",
    "plugins": ["jest"],
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-underscore-dangle": 0,
        "no-continue": "off",
        "react/prop-types": ["disabled"],
        "react/jsx-indent": ["error", 4, {"SwitchCase": true}],
        "react/jsx-filename-extension": ["js"],
        "react/jsx-indent-props": ["error", 4],
        "jsx-a11y/label-has-for": [ 2, {
            "components": [ "Label" ],
            "required": {
                "every": ["id" ]
            },
            "allowChildren": false
        }],
        "jsx-a11y/label-has-associated-control": [ 2, {
            "labelComponents": ["CustomInputLabel"],
            "labelAttributes": ["label"],
            "controlComponents": ["Input", "SimpleInput", "TextArea"],
            "depth": 3
        }]
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest/globals": true
    }
}